attrs==25.1.0
bcrypt==4.2.1
blinker==1.9.0
click==8.1.8
dnspython==1.16.0
flasgger==0.9.7.1
Flask==3.1.0
Flask-Bcrypt==1.0.1
Flask-JWT-Extended==4.7.1
Flask-Login==0.6.3
Flask-PyMongo==3.0.1
itsdangerous==2.2.0
Jinja2==3.1.5
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
MarkupSafe==3.0.2
mistune==3.1.1
packaging==24.2
PyJWT==2.10.1
pymongo==3.12.0
python-dotenv==1.0.1
PyYAML==6.0.2
referencing==0.36.2
rpds-py==0.22.3
six==1.17.0
typing_extensions==4.12.2
Werkzeug==3.1.3
