<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Flaury</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            max-width: 600px;
            margin: auto;
            padding: 20px;
            background: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #333;
        }
        p {
            margin-bottom: 20px;
        }
        .footer {
            margin-top: 20px;
            text-align: center;
            color: #777;
        }
        .highlight {
            color: #D23F57;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to Flaury!</h1>
        <img src="https://i.ibb.co/MR7nP0q/Group.png" alt="Welcome Image">       
        <p>Thank you for registering with us. We're excited to have you join our community!</p>
        <p>Your beauty, our connection. We connect you to your beauty dreams in the most convenient way for you. Connect with us.</p>
        
        <h2>About Flaury</h2>
        <p>Flaury was born out of a vision to bridge the gap for beauty lovers who require timely access to beauty services wherever they may be.</p>
        <p>We are determined to bring convenience and excellence to the world of beauty. We believe in empowering you to be the best version of yourself because beauty isn't just about how you look but how you feel.</p>
        <p>The Flaury app allows you to rekindle your beauty routine with an offering that’s tailored to your convenience.</p>
        
        <h2>Addressing Your Needs</h2>
        <p>Achieving beauty goals shouldn’t be limited by time or distance. We are here to make it effortless for you. Look and feel your best any time, any place, with the seamless integration of our app for you.</p>
        <p>At Flaury, our purpose is simple yet powerful: to empower individuals to prioritize self-care and enhance their beauty routines effortlessly. We strive to revolutionize how people approach their beauty needs by providing a platform that caters to diverse preferences and requirements.</p>
        
        <h2>Why Flaury?</h2>
        <ul>
            <li>Enjoy daily tips on enhancing your beauty career and lifestyle.</li>
            <li>Experience a lifestyle of convenience as we connect you to beauticians nearest to you.</li>
            <li>Seamless booking system with our secured payment integration.</li>
        </ul>
        
        <h2>Flaury Business</h2>
        <p>Do you have a skill for beauty enthusiasts?</p>
        <p>We’re also a haven for professionals in the beauty industry looking to expand their reach. Register with us and earn more by bringing your artistry to our clientele.</p>
        <p>Quality matters to us, and we're always looking for dedicated professionals to join us in delivering exceptional beauty services.</p>
        <ul>
            <li>Increased visibility</li>
            <li>Income growth</li>
            <li>Simplified booking</li>
            <li>Revenue tracking</li>
            <li>Professional networking</li>
        </ul>
        
        <p>Love you!</p>
    </div>
    <div class="footer">
        <p>©2024 Flaury. All rights reserved.</p>
    </div>
</body>
</html>
