<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Flaury - Beautician</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #333;
            font-size: 24px;
        }
        p {
            color: #666;
            line-height: 1.6;
            margin-bottom: 20px;
        }
        ul {
            padding-left: 20px;
            margin-bottom: 20px;
        }
        ul li {
            color: #666;
        }
        .footer {
            text-align: center;
            color: #777;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="https://i.ibb.co/MR7nP0q/Group.png" alt="Welcome Image" style="max-width:100%; height:auto;">
        <p>Hi {{firstname}},</p>
        <p>Welcome to Flaury, the all-in-one platform designed to help you grow your beauty business and take your hustle to the next level.</p>
        <p>Flaury is here to simplify your life and turn all your efforts into a fruitful one.</p>
        
        <h2>Here's how Flaury empowers beauty professionals like you:</h2>
        <ul>
            <li><strong>Effortless Booking System:</strong> Flaury's user-friendly app lets clients book appointments directly, saving you time and increasing your revenue.</li>
            <li><strong>Free Marketing & Visibility:</strong> Reach new clients for ZERO extra cost as Flaury puts your profile in front of potential customers looking for amazing beauty services like yours.</li>
            <li><strong>Centralized Client Management:</strong> Keep track of all your clients, appointments, and communication in one convenient place. You now experience an organized record data.</li>
            <li><strong>Seamless Communication:</strong> Chat directly with your clients through the Flaury app, making scheduling and appointment confirmations a breeze.</li>
            <li><strong>Revenue Tracking Made Easy:</strong> Monitor your earnings and identify customer trends with ease. Flaury helps you understand your business better and make informed decisions.</li>
        </ul>
        
        <p>Follow us on social media for tips and tricks on managing your beauty business and connecting with clients.</p>
        <p>Let's build something amazing together.</p>
        
        <p>Warm regards,</p>
        <p>The Flaury Team</p>
    </div>
    <div class="footer">
        <p>©2024 Flaury. All rights reserved.</p>
    </div>
</body>
</html>
