<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Flaury</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 20px auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #333333;
            font-size: 24px;
            margin-top: 0;
        }
        h2 {
            color: #555555;
            font-size: 18px;
        }
        p {
            color: #666666;
            line-height: 1.6;
            margin-bottom: 20px;
        }
        ul {
            padding-left: 20px;
            margin-bottom: 20px;
        }
        ul li {
            color: #666666;
        }
        .footer {
            text-align: center;
            color: #777777;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="https://i.ibb.co/MR7nP0q/Group.png" alt="Welcome Image" style="max-width: 100%; height: auto;">
        <p>Hi {{firstname}},</p>
        <p>Welcome to Flaury, your new best friend in the world of beauty.</p>
        <p>We're passionate about simplifying your beauty journey and empowering you to achieve your personal definition of beauty, whether it's a luxurious spa day, a flawless hairstyle, or anything in between.</p>
        <p>We connect you with amazing, verified beauty professionals offering a wide range of services at transparent prices.</p>
        <h2>Here's what Flaury has in store for you:</h2>
        <ul>
            <li><strong>Effortless Booking:</strong> Book appointments with just a few taps on your phone in our user-friendly app.</li>
            <li><strong>Trusted Experts:</strong> Find top-rated beauty professionals near you or offering home services to pamper you in the comfort of your own space.</li>
            <li><strong>Affordable Beauty:</strong> Flaury has something for everyone. Explore our vast selection of services and find the perfect fit!</li>
            <li><strong>Peace of Mind:</strong> Flaury is all about making your beauty experience enjoyable and stress-free. Our verified professionals ensure you receive top-quality services you can trust.</li>
        </ul>
        <p><strong>P.S:</strong> Let's create a Flaury community of beauty enthusiasts. Refer your friends and family to Flaury, and you would be opportuned to enjoy exclusive offers, surprises, and get ready to be pampered with amazing rewards.</p>
        <p>See you around,<br>Flaury Team</p>
    </div>
    <div class="footer">
        <p>&copy; 2024 Flaury. All rights reserved.</p>
    </div>
</body>
</html>
